body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    color: white;
    background: rgb(51 51 51);
    cursor: default;
}

h1 {
    color: rgb(235, 160, 86)
}

button {
    background-color: rgb(30 30 30);
    color: white;
    border: solid;
    border-color: rgb(30 30 30);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 10px;
    box-shadow: 0px;
}

button:hover {
    color: rgb(156 220 254);
    text-decoration-line: underline;
    cursor: pointer;
}

.header {
    background-color: rgb(30 30 30);
    padding: 15px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.timer {
    float: right;
}

.highscore {
    float: left;
}

main {
    background-color: rgb(30 30 30);
    padding: 75px;
    margin: 25px 100px 50px 100px;
}

#answer {
    display: block;
}

#answer:active {
    color: rgb(86 156 214);
}

ul {
    list-style-type: none;
}

.answer:hover {
    color: rgb(156 220 254);
    text-decoration-line: underline;
    cursor: pointer;
}

.submitBtn {
    color: rgb(0 169 96);
}

input {
    background-color: rgb(51 51 51);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: solid;
    border-color: rgb(51 51 51);